html,
body {
  margin: 0;
  padding: 0;
  background-color: black;
}

a {
  all: unset;
}

dialog {
  max-width: 600px;
  padding: 0;
  border: none;
  background: none;
}

@media (max-width: 1024px) and (orientation: landscape) {
  dialog {
    max-width: 95vw;
  }
}

.modal {
  padding: 40px;
  border: none;
  border-radius: 8px;
  box-shadow: 2px 2px 8px #444444;
  background-color: #4d4641;
  font-family: "Josefin Sans", sans-serif;
  color: #f4ece7;
}

@media (max-width: 640px) {
  .modal {
    padding: 20px;
  }
}

@media (max-width: 1024px) and (orientation: landscape) {
  .modal {
    display: grid;
    grid-template-areas: "name description" "img description" "buttons buttons";
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr 5fr 1fr;
    padding: 20px;
  }
}

@media (max-height: 425px) and (orientation: landscape) {
  .modal {
    grid-template-columns: 1fr 1fr;
    padding: 10px;
  }
}

.modal h2 {
  margin: 0;
  font-size: 44px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 100;
  font-style: normal;
  letter-spacing: 0.125em;
  text-align: center;
  text-transform: uppercase;
}

@media (max-width: 640px) {
  .modal h2 {
    font-size: 22px;
  }
}

@media (max-width: 1024px) and (orientation: landscape) {
  .modal h2 {
    font-size: 24px;
    grid-area: name;
    align-self: center;
    justify-self: center;
  }
}

@media (max-height: 425px) and (orientation: landscape) {
  .modal h2 {
    font-size: 18px;
  }
}

.modal .gallery {
  display: flex;
  justify-content: center;
}

@media (max-width: 1024px) and (orientation: landscape) {
  .modal .gallery {
    grid-area: img;
    justify-self: center;
    align-self: center;
  }
}

.modal img {
  margin: 0 auto;
  width: 100%;
  max-width: 400px;
  height: auto;
}

@media (max-width: 640px) {
  .modal img {
    max-width: 300px;
  }
}

@media (max-width: 1024px) and (orientation: landscape) {
  .modal img {
    max-width: 100%;
    height: auto;
  }
}

@media (max-width: 1024px) and (orientation: landscape) {
  .modal .description {
    padding: 0 10px;
    grid-area: description;
    font-size: 15px;
  }
}

.modal p {
  padding: 0 80px;
  line-height: 1.5;
  font-size: 16px;
  text-align: justify;
  color: #f4ece7;
}

@media (max-width: 640px) {
  .modal p {
    padding: 0 40px;
  }
}

@media (max-width: 1024px) and (orientation: landscape) {
  .modal p {
    padding: 0 20px;
    font-size: 14px;
  }
}

@media (max-height: 425px) and (orientation: landscape) {
  .modal p {
    font-size: 13px;
  }
}

.modal footer {
  display: flex;
  justify-content: space-between;
  padding: 0 80px;
}

@media (max-width: 640px) {
  .modal footer {
    flex-direction: column;
    padding: 0 40px;
  }
}

@media (max-width: 1024px) and (orientation: landscape) {
  .modal footer {
    grid-area: buttons;
    max-height: 10vh;
    align-self: center;
  }
}

.modal a,
.modal button {
  font-weight: 600;
  margin-right: 10px;
  padding: 0;
  line-height: 1.5;
  font-size: 16px;
  text-align: justify;
  color: #8a7e4e;
  background-color: #22273300;
  box-shadow: none;
  outline: none;
  border: none;
}

.modal a:hover,
.modal button:hover {
  cursor: pointer;
  box-shadow: 0 4px 2px -2px #8a7e4e;
}

.modal a.link-disabled:hover {
  box-shadow: none;
  cursor: unset;
}

.modal span {
  font-size: 12px;
}
