html,
body {
  margin: 0;
  padding: 0;
  background-color: black;
}

a {
  all: unset;
}

dialog:not([open]) {
  display: none;
}

dialog {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 80vw;
  padding: 30px;
  border: none;
  border-radius: 8px;
  box-shadow: 2px 2px 8px #444444;
  background-color: #4d4641;
  font-family: "Josefin Sans", sans-serif;
  color: #f4ece7;
}

.modal header {
  margin-bottom: 20px;
}

.modal h2 {
  font-size: 18px;
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 100;
  font-style: normal;
  letter-spacing: 8px;
  text-align: center;
  text-transform: uppercase;
}

.modal-content {
  display: flex;
  flex-direction: row;
  align-content: stretch;
}

.modal aside {
  flex-basis: 80%;
  display: flex;
  justify-content: center;
}

.modal img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.modal main {
  flex-basis: 160%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 20px;
}

.modal p {
  font-size: 12px;
  margin: 0;
  line-height: 1.5;
  text-align: justify;
  color: #f4ece7;
  margin-bottom: 10px;
}

.modal .buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.modal a,
.modal button {
  font-size: 12px;
  font-weight: 600;
  margin-right: 10px;
  padding: 0;
  line-height: 1.5;
  text-align: justify;
  color: #b9aa6c;
  background-color: #22273300;
  box-shadow: none;
  outline: none;
  border: none;
}

.modal span {
  font-size: 10px;
}

.modal a:hover,
.modal button:hover {
  cursor: pointer;
  box-shadow: 0 4px 2px -2px #c4b372;
}

.modal a.img-link:hover {
  box-shadow: none;
}

@media (orientation: portrait) and (min-height: 640px) {
  .modal .modal-content {
    flex-direction: column;
  }

  .modal aside {
    margin-bottom: 20px;
  }

  .modal main {
    padding-left: 0;
  }
}

@media (min-width: 768px) {
  .modal h2 {
    font-size: 32px;
  }

  .modal p {
    font-size: 18px;
  }

  .modal a,
  .modal button {
    font-size: 20px;
  }

  .modal span {
    font-size: 16px;
  }
}

@media (min-width: 1025px) and (min-height: 800px) {
  dialog {
    padding: 40px;
  }
  .modal {
    max-width: 500px;
  }

  .modal-content {
    flex-direction: column;
  }

  .modal header {
    margin-bottom: 30px;
  }

  .modal aside {
    margin-bottom: 40px;
  }

  .modal main {
    padding-left: 0;
  }
}
