html,
body {
  margin: 0;
  padding: 0;
  background-color: black;
}

a {
  all: unset;
}

.modal {
  padding: 40px;
  max-width: 600px;
  border: none;
  border-radius: 4px;
  box-shadow: 2px 2px 8px #444444;
  background-color: #4d4641;
  font-family: "Josefin Sans", sans-serif;
  color: #f4ece7;
}

.modal h2 {
  font-size: 48px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 100;
  font-style: normal;
  letter-spacing: 0.125em;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.25;
}

.modal ul {
  padding-inline-start: 0;
}

.modal li {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  list-style: none;
}

.modal img {
  margin: 0 auto;
  width: 100%;
  max-width: 300px;
  height: auto;
}

.modal p {
  padding: 0 80px;
  line-height: 1.5;
  font-size: 16px;
  text-align: justify;
  color: #f4ece7;
}

.modal footer {
  display: flex;
  justify-content: space-between;
  padding: 0 80px;
}

.modal a,
.modal button {
  font-weight: 600;
  margin-right: 10px;
  padding: 0;
  line-height: 1.5;
  font-size: 16px;
  text-align: justify;
  color: #8a7e4e;
  background-color: #22273300;
  box-shadow: none;
  outline: none;
  border: none;
}

.modal a:hover,
.modal button:hover {
  cursor: pointer;
  box-shadow: 0 4px 2px -2px #8a7e4e;
}

.modal a.link-disabled:hover {
  box-shadow: none;
  cursor: unset;
}

.modal span {
  font-size: 12px;
}

@media (max-width: 640px) {
  li {
    min-width: 200px;
    border-radius: 3px;
  }
}
